# Ignore the cookies.txt file in config
cookies.txt
config/cookies.txt

# Ignore all token files
# i.e. files named bot_token.txt and api_token.txt, etc.
**/api_token.txt
**/bot_token.txt
config/*.txt
config/bot_token.txt
config/api_token.txt
api_token.txt
bot_token.txt
chat_history.txt
**/chat_history.txt

# Bot-specific data
token_usage.json
**/data/
data/

# Log files
logs/
**/logs/
chat.log
bot.log
*.log

# Python cache files
**/__pycache__/
__pycache__/
*.pyc

# audio messages directory
audio_messages/
**/audio_messages/

# yt-dlp cache directory
.cache/
**/.cache/

# (alt
# transcriptions directory
transcriptions/
# audio files directory
audio/

# ignore potential transcribed files
*.ogg
*.mp3
*.wav
*.aiff
*.aac
*.mp4
*.vtt
*.srt
*.part

# Ignore virtual environments
venv/
env/