beautifulsoup4>=4.12.3
configparser>=6.0.0
elastic-transport>=8.15.0
elasticsearch>=8.15.1
ffmpeg-python>=0.2.0
httpx>=0.25.2
langdetect>=1.0.9
matplotlib>=3.8.2
holidays>=0.49
lxml>=5.2.2
nltk>=3.8.1
openai>=1.6.1
pydub>=0.25.1
python-telegram-bot>=20.7
transformers>=4.36.2
requests>=2.31.0
pytz>=2024.1
timezonefinder>=6.4.0
yfinance>=0.2.41
yt-dlp>=2024.3.10
feedparser>=6.0.11
tiktoken>=0.7.0